@import url("./skip-link.css");

:root {
	/* Colours */
	--hcta-primary: #351c75;
	--hcta-secondary: #f79646;
	--hcta-secondary-bg-pale: #fde3ce;
	--hcta-light-bg: #f4f5f5;
	--hcta-light-text: var(--hcta-light-bg);
	--hcta-dark-bg: #04002e;
	--hcta-dark-text: var(--hcta-dark-bg);
	--hcta-dark-text-pale: hsl(245, 100%, 9%, 0.7);
	--hcta-accent: #4d845d;
	--hcta-accent-2: #c9c9c9;
	--hcta-error-red: #910000;
	--hcta-success-green: #185c00;
	--hcta-white: #ffffff;

	/*Borders */
	--hcta-border-radius-btn: 0.3em;
	--hcta-border-radius-sm: 0.5em;
	--hcta-border-width: 2px;

	/* Padding */
	--hcta-block-padding-md: clamp(24px, 1.969vw + 0.87rem, 56px);

	/* Widths */
	--hcta-max-width-ch: 58ch;
}

/*
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
*/
html { /* Need to test this still - doesn't work yet */
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: unset;
  }
}

/* Typography styling */

@font-face {
	font-family: "Marcellus";
	src: url("https://www.myhcta.com/resource_redirect/downloads/file-uploads/sites/2148330094/themes/2157314353/downloads/e2e845a-ef1e-b746-16e2-05c8e2803a8e_Marcellus-Regular.ttf")
		format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("https://www.myhcta.com/resource_redirect/downloads/file-uploads/sites/2148330094/themes/2157314353/downloads/1888b5-dc2b-cf1a-ff53-6d625254be8_IBMPlexSans-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("https://www.myhcta.com/resource_redirect/downloads/file-uploads/sites/2148330094/themes/2157314353/downloads/173720-be7-127f-3132-ade72f35f0b_IBMPlexSans-Bold.ttf")
		format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("https://www.myhcta.com/resource_redirect/downloads/file-uploads/sites/2148330094/themes/2157314353/downloads/b8236f7-173-3fcf-aa18-b5650f8daf3d_IBMPlexSans-Italic.ttf")
		format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("https://www.myhcta.com/resource_redirect/downloads/file-uploads/sites/2148330094/themes/2157314353/downloads/567afaa-420-8203-d2d5-43e625ea5c_IBMPlexSans-Medium.ttf")
		format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("https://www.myhcta.com/resource_redirect/downloads/file-uploads/sites/2148330094/themes/2157314353/downloads/adf56c-86f-2b27-c03-243468bc3874_IBMPlexSans-SemiBold.ttf")
		format("truetype");
	font-weight: 600;
	font-style: normal;
}

h1, h2, h3, h4, .h4, h1.panel__title, .post-body h1, .post-body h2, .post-body h3, .post-body h4, h1 span /* This selector works, but font family not being applied */ {
	font-family: "Marcellus", sans-serif;
	line-height: 110%;
	font-weight: 400;
	color: var(--hcta-dark-text);
/*	margin-top: 40px;
	margin-bottom: 24px; */
}

.post-body h2, .post-body h3, .post-body h4 {
	margin-top: 40px;
	margin-bottom: 24px;
}

h1,
h1.panel__title, h1.post-body-title {
/*	font-size: clamp(1.875rem, 1.116vw + 1.518rem, 3.125rem);*/
  font-size: clamp(2.143rem, 1.365vw + 1.706rem, 3.571rem);
}

h1.hcta-h1-small { /* H1 for landing pages */
	font-size: clamp(1.8rem, 1.338vw + 1.372rem, 3.2rem);
	text-wrap: balance;
}

h2 {
/*	font-size: clamp(1.688rem, 0.837vw + 1.42rem, 2.625rem);*/
  font-size: clamp(1.929rem, 0.833vw + 1.663rem, 2.8rem);
}

h3 {
/*	font-size: clamp(1.375rem, 0.335vw + 1.268rem, 1.75rem);*/
  font-size: clamp(1.571rem, 0.506vw + 1.409rem, 2.1rem);

}

h4, h2.hcta-h4, h3.hcta-h4 {
  font-size: clamp(1.357rem, 0.069vw + 1.335rem, 1.429rem);
	font-weight: 400;
}

h5 {
	font-size: 1.175rem;
	font-weight: 600;
	font-style: italic;
}

h6 {
	font-size: 1.175rem;
	font-style: italic;
	font-weight: 400;
}

h4,
h5,
h6,
.post-body h4,
.post-body h5,
.post-body h6 {
	color: var(--hcta-dark-text);
	margin-top: 32px;
	margin-bottom: 16px;
	line-height: 120%;
}

body,
p,
ul,
ol,
a,
.btn,
.btn.btn--solid,
.form-btn,
h5,
h6,
.h5,
.h6,
.form-control, .form-group label, .flash--success .flash-text {
	font-family: "IBM Plex Sans", sans-serif;
}

strong {
	font-weight: 600;
}

.btn.btn-primary,
.btn.btn--solid,
.form-btn,
.products .btn, a.btn, .section.background-light a.btn, .block.background-light a.btn {
	font-weight: 600;
	font-size: 1.05rem;
	background-color: var(--hcta-primary);
	color: var(--hcta-light-text);
	border: none;
	border-radius: var(--hcta-border-radius-btn) !important;
	text-decoration: none;
}

/* Button with secondary colour background */
a.btn.btn-secondary-color, a[kjb-settings-id="sections_dashboard_welcome_settings_resume"] {
	background-color: var(--hcta-secondary);
    color: var(--hcta-dark-text);
}

a.btn.btn-outline {
	background-color: transparent;
	border: var(--hcta-border-width) solid var(--hcta-primary);
	color: var(--hcta-primary);
}

body,
p,
ul,
ol {
	font-weight: 400;
	font-size: 1.175rem;
	line-height: 180%;
}

p.hcta-text-lg {
	font-size: clamp(1.2rem, 0.287vw + 1.108rem, 1.5rem);
}

@media only screen and (min-width: 504px) {
	p.subheading {
		text-wrap: balance;
	}
}

body a:not(.btn),
p a:not(.btn),
li a,
.block.background-light a:not(.btn), .section.background-light a:not(.btn) {
	color: var(--hcta-primary);
	text-decoration: underline;
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 180%;
}

body p a:hover:not(.btn, .header a),
p a:hover,
li a:hover {
	color: var(--hcta-dark-text);
}

/* Adding icon to links that open in new tab (for accessibility) */

a[target="_blank"]::after, .section.background-dark .background-light a[target="_blank"]::after { /* Primary colour icon */
	content: "";
	background: url("https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/2157314353/settings_images/b2ab1-6760-d601-58f2-0c384b2fbe0_arrow-up-right-from-square-solid_primary-color.png")
		no-repeat left center;
	display: inline-block;
	background-size: contain;
	flex-shrink: 0;
	width: 0.85rem;
	height: 0.85rem;
	margin-left: 4px;
	margin-right: 4px;
}

.section.background-dark a[target="_blank"]::after { /* White colour icon for links on dark backgrounds */
	content: "";
	background: url("https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/2157314353/settings_images/850e5e4-8af5-2c3a-b8e8-86cfceddd64b_arrow-up-right-from-square-solid_white.png")
		no-repeat left center;
	display: inline-block;
	background-size: contain;
	flex-shrink: 0;
	width: 0.85rem;
	height: 0.85rem;
	margin-left: 4px;
	margin-right: 4px;
}

.section.background-dark a:hover:not(.btn) {
	color: var(--hcta-secondary);
}

.form-group label {
	font-size: 1.1rem;
	font-weight: 500;
	line-height: 140%;
}

.form-group label:not(#new_member_session label) {
	color: var(--hcta-dark-text) !important;
}

.form-control:not(.search-input) {
	/* Input field border */
	border: 1px solid var(--hcta-dark-bg);
}

th,
td {
	font-size: 1.175rem;
	line-height: 130%;
}

th[scope="col"] {
	font-weight: 700;
	line-height: 110%;
}

th[scope="row"] {
	font-style: italic;
}

p {
	margin-bottom: 16px;
}

li {
	margin: 8px 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin: 0 !important;
}

/*ul li:last-of-type, ol li:last-of-type {
    margin-bottom: 24px;
}*/

.hcta-screen-reader-only {
	position: absolute;
	width: 1px;
	clip: rect(0 0 0 0);
	overflow: hidden;
	white-space: nowrap;
}

/* Course styling */

.mini-dashboard-back:hover {
	color: var(--hcta-secondary);
}

/* Course library page */
div[data-dynamic-sections="library"] div.resume-course__text {
	width: 100%;
}

div[data-dynamic-sections="library"] div.resume-course__image {
	display: none;
}

/* Course Content > Module page */

/* Removing top margin from course complete number */
#section-category_outline div.category-progress h3.category-progress-stats {
	margin-top: 0;
}

#section-category_outline
	div.category-outline
	div.media-body
	p.category-post-body {
	display: none;
}

/* Lesson styling */

/* In-lesson panel navigation */

/* Active lesson */
.product-outline-post.active {
	color: var(--hcta-primary);
	text-decoration: none;
}

/* Non-active lessons */
.product-outline-category a,
.product-outline-subcategory a,
.product-outline-post:not(.product-outline-post.active) {
	font-weight: 400;
	color: var(--hcta-dark-text-pale);
	text-decoration: none;
}

/* Adding explainer text below intro videos */
.main-content .main-content-video {
	background: var(--hcta-primary);
}

.main-content-video::before {
	content: "Press play to watch the video, or read the video transcript below.";
	color: var(--hcta-light-text);
	padding-left: 20px;
	font-weight: 400;
}

/* Moving lesson complete button to bottom */

/* Changing parent container to flex so that order property works */
div.main-content.col.flex-fill {
	display: flex;
	flex-direction: column;
}

/* Moving lesson complete container to bottom */
#section-post_actions {
	order: 1;
}

/* Moving comments below lesson complete container */
div.comments {
	order: 2;
}

/* Removing duration time because it only applies to video, not whole lesson */
.post-actions-duration {
	display: none;
}

/* Complete lesson button */
a.post-actions-complete {
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

a[data-post-completion-toggle="true"] { /* Lesson Completed! button state */
  background-color: var(--hcta-success-green);
  color: var(--hcta-light-text);
  border: var(--hcta-border-width) solid var(--hcta-success-green);
}

a[data-post-completion-toggle="true"]:hover {
	filter: brightness(120%);
	color: var(--hcta-light-text);
}

a[data-post-completion-toggle="false"] {
  border: var(--hcta-border-width) solid var(--hcta-primary);
  background-color: transparent;
  color: var(--hcta-primary);
}

a[data-post-completion-toggle="false"]:hover {
	border: var(--hcta-border-width) solid var(--hcta-dark-text);
	color: var(--hcta-dark-text);
}

@media (max-width: 991px) { /* Making button text accessible size on mobile */
  .post-actions-complete {
      font-size: 1rem;
  }
}

/* Previous/next lesson arrow links */

.post-actions-pagination a {
  color: var(--hcta-primary);
  font-size: 1.8rem;
}

.post-actions-pagination a i { /* Making arrow accessible size */
  min-width: 44px;
}


/* Favourite lesson star button */
.post-actions-favorite {
	border: var(--hcta-border-width) solid var(--hcta-primary);
  color: var(--hcta-primary);
  font-size: 1rem;
  border-radius: var(--hcta-border-radius-btn);
}

.post-actions-favorite.favorited {
  background-color: var(--hcta-success-green);
  color: var(--hcta-light-text);
  border: var(--hcta-border-width) solid var(--hcta-success-green);
}

.post-actions-favorite:hover {
	border: var(--hcta-border-width) solid var(--hcta-dark-text);
}

.post-actions-favorite.favorited:hover {
	background: var(--hcta-success-green);
	border: var(--hcta-border-width) solid var(--hcta-success-green);
	color: var(--hcta-light-text);
	filter: brightness(120%);
}

@media (max-width: 991px) {
  .post-actions-favorite {
      padding: 8px;
      margin-right: 6px;
      font-size: 1rem;
  }
}

/* Expected reading time */
.post-body .hcta-expected-reading-time { /* Making sure icon positioning works */
	position: relative;
    margin-left: 24px;
}

.hcta-expected-reading-time::before { /* Adding icon */
	content: "";
	background: url("https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/2157314353/settings_images/1f4db7-e21a-03a-0ec4-f1bfdb2f3fd_clock-regular.png")
		no-repeat left center;
	display: block;
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	background-size: contain;
	margin-top: 8px;
	position: absolute;
	top: 0;
	left: -24px;
}
}

/* Lesson objectives */

.post-body p.hcta-lesson-objectives {
	margin-top: 40px;
	font-weight: 700;
}

/* In-lesson images */

.post-body p:has(img) {
	display: flex;
	justify-content: center;
}

.hcta-lesson-img {
	max-width: 36rem;
	width: 100%;
}

.hcta-lesson-img--sm {
	max-width: 19rem;
    width: 100%;
}

.hcta-lesson-img-float {
	max-width: 24rem;
}

/* 2-columns text + image */

/* 2-column wrapper div */
.post-body .hcta-2col {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.post-body div.hcta-2col:first-of-type {
	margin-top: 40px;
}

.post-body ul:has(.hcta-2col) {
	padding: 0;
}

/* Reversing 2-col img side on desktop */
.post-body .hcta-2col:nth-of-type(even) {
	flex-direction: row-reverse;
}

/* 2-col text wrapper div (wraps heading, if any, and paragraph) */
.post-body .hcta-2col__text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 392px;
}

/* 2-col heading */
.post-body .hcta-2col__text-wrapper h2,
.post-body .hcta-2col__text-wrapper h3,
.post-body .hcta-2col__text-wrapper h4,
.post-body .hcta-2col__text-wrapper h5,
.post-body .hcta-2col__text-wrapper h6 {
	margin: 0;
}

/* 2-col paragraph */
.post-body .hcta-2col__text-wrapper p {
	margin: 0;
	max-width: 28rem;
}

/* 2-col img wrapper (<p> tag) */
.post-body .hcta-2col p:has(img) {
	margin: 0;
}

/* 2-col img */
.post-body .hcta-2col img {
	max-width: 19rem;
}

/* Small screen size styling */
@media only screen and (max-width: 1085px) {
	.post-body div.hcta-2col {
		flex-direction: row;
	}
	.post-body .hcta-2col:nth-of-type(even) {
		flex-direction: row;
	}
	.post-body .hcta-2col__text-wrapper p {
		max-width: 100%;
	}
	.post-body .hcta-2col p:has(img) {
		width: 100%;
		max-width: 100%;
	}
}

/* Styling video embeds */

.hcta-video-embed {
	width: 100%;
	height: auto;
	aspect-ratio: 16/9;
}

/* Styling tables */

/* Table cells */
table th,
table tr td {
	border: 1px solid var(--hcta-primary);
}

table tr th,
table tr td {
	padding: 12px;
	vertical-align: top;
}

table tr td {
	min-width: 200px;
}

table td ul,
table td ol {
	padding-inline-start: 16px;
	margin: 0 !important;
	line-height: 130%;
}

table p:first-of-type {
	margin-top: 0;
}

table p:last-of-type {
	margin-bottom: 0;
}

/* Table horizontal scrolling */
table {
	display: block;
	overflow-x: scroll;
	overflow-y: visible;
	margin-top: 8px;
}

/* Sticky thead */
thead {
	position: sticky;
	top: 0;
	background-color: var(--hcta-secondary-bg-pale);
}

/* Styling lists */

ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

/* Removing styling from lists that shouldn't look like lists */

ul.hcta-unstyled-list {
	list-style-type: none;
	padding-left: 0px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
}

/* Removing margins */
.post-body ul.no-margins,
.post-body ol.no-margins {
	margin: 0;
}

/* Changing bullet points to image icons*/

/* Removing bullet point */
.hcta-li-bullet {
	position: relative;
}

.hcta-li-bullet::marker {
	color: transparent;
}

/* Checkmark bullet point */
.hcta-li-bullet--checkmark::before {
	content: "";
	background: url("https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/2157314353/settings_images/54cb817-26fa-b864-5f-ef654cf501cb_circle-check-solid.png")
		no-repeat left center;
	display: block;
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: middle;
	background-size: contain;
	margin-top: 8px;
	position: absolute;
	top: 0;
	left: -24px;
}

/* Xmark bullet point*/
.hcta-li-bullet--xmark::before {
	content: "";
	background: url("https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/2157314353/settings_images/be502ee-884e-0336-b5fb-150ef8e015_circle-xmark-solid.png")
		no-repeat left center;
	display: block;
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: middle;
	background-size: contain;
	margin-top: 8px;
}

/* Question mark bullet point */
.hcta-li-bullet--qmark::before {
	content: "";
	background: url("https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/2157314353/settings_images/bdc15d6-f80-d2b-f778-2a7be56cb6b_circle-question-solid.png")
		no-repeat left center;
	display: block;
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: middle;
	background-size: contain;
	margin-top: 8px;
	position: absolute;
	top: 0;
	left: -24px;
}

/* Thumbs up bullet point */
.hcta-li-bullet--thumbup::before {
	content: "";
	background: url("https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/2157314353/settings_images/80a2216-d04-50d7-be1a-c6016630fb15_thumbs-up-solid.png")
		no-repeat left center;
	display: block;
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: middle;
	background-size: contain;
	margin-top: 6px;
	position: absolute;
	top: 0;
	left: -24px;
}

/* Thumbs down bullet point */
.hcta-li-bullet--thumbdown::before {
	content: "";
	background: url("https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/2157314353/settings_images/2843885-77c6-f088-23fb-5806efc3b8db_thumbs-down-solid.png")
		no-repeat left center;
	display: block;
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: middle;
	background-size: contain;
	margin-top: 8px;
	position: absolute;
	top: 0;
	left: -24px;
}

/* Pro Tip Styling */

.hcta-pro-tip {
	max-width: 40rem;
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin: 20px auto 40px auto;
	align-items: center;
}

.hcta-pro-tip p.hcta-pro-tip__title {
	font-family: Marcellus;
	text-transform: uppercase;
	margin: 0;
	color: var(--hcta-primary);
	font-size: 1.6rem;
}

.hcta-pro-tip__wrapper {
	background-color: var(--hcta-primary);
	border-radius: var(--hcta-border-radius-sm);
	padding: 12px;
}

.hcta-pro-tip p.hcta-pro-tip__text,
ul.hcta-pro-tip__text {
	color: var(--hcta-light-text);
	font-size: 1.1rem;
	padding: 16px;
	margin: 0;
	border: 2px dashed var(--hcta-secondary);
	border-radius: var(--hcta-border-radius-sm);
	padding: 16px;
	line-height: 130%;
	text-align: center;
	text-wrap: balance;
}

/* Self-Reflection box styling */
.hcta-reflection {
	border: 2px dashed var(--hcta-primary);
	border-radius: var(--hcta-border-radius-sm);
	padding: 0 20px;
	margin: 40px 0;
}

.hcta-reflection h3,
.hcta-reflection h4,
.hcta-reflection h5,
.hcta-reflection h6 {
	margin-top: 20px;
}

/* SVG icon styling */

/* Add to div wrapper for heading */
.hcta-icon-heading {
	display: flex;
	gap: 12px;
	margin-bottom: -8px;
}

.hcta-icon-heading svg {
	fill: var(--hcta-primary);
	max-width: 2.2rem;
	margin-top: 12px;
	overflow: visible;
}

/* Add to div wrapper for p */
.hcta-icon-p {
	display: flex;
	gap: 12px;
	position: relative;
	padding-left: 40px;
}

.hcta-icon-p svg {
	fill: var(--hcta-primary);
	max-width: 2rem;
	overflow: visible;
	position: absolute;
	left: 0;
	top: 7px;
}

.hcta-icon-p p {
	margin-top: 8px;
	margin-bottom: 8px;
}

/* Removing top margin from lists that follow icon + p */
.hcta-icon-p + ul,
.hcta-icon-p + ol {
	margin-top: 0;
}

svg.hcta-svg-error {
	fill: var(--hcta-error-red);
}

svg.hcta-svg-success {
	fill: var(--hcta-success-green);
}

/* Styling individual icons */
svg.hcta-icon--person-check,
svg.hcta-icon--person-x,
svg.hcta-icon--person-exclamation,
svg.hcta-icon--arrows-to-dots {
	max-width: 2rem;
}

svg.hcta-icon--circle-exclamation,
svg.hcta-icon--triangle-exclamation {
	max-width: 1.8rem;
	top: 10px;
}

svg.hcta-icon--nurse {
	max-width: 1.9rem;
}

/* Email templates within lessons (for copy-pasting into email) */
.hcta-email-template {
	font-family: sans-serif;
	font-size: 0.938rem;
	color: #222222;
	border: 2px dashed var(--hcta-primary);
	border-radius: var(--hcta-border-radius-sm);
	padding: 24px;
}

p.hcta-email-template__subject {
	font-size: inherit;
	font-family: inherit;
	font-weight: 600;
	color: inherit;
	margin-top: 0;
}

.hcta-email-template p:not(p.hcta-email-template__subject) {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
}

@media only screen and (min-width: 1074px) {
	/* 2-column text */
	.post-body .hcta-textcol-2 {
		column-count: 2;
		column-gap: 40px;
	}
	/* Preventing list item child from breaking to column from its list item parent */
	.hcta-textcol-2 li {
		page-break-inside: avoid;
		break-inside: avoid-column;
	}
	/* Removing list margins for 2-column text */
	.hcta-textcol-2 ul,
	.hcta-textcol-2 ul {
		margin: 0;
	}
}

/* Course quizzes */

/* Moving quiz below heading 1 */
.main-content-assessment {
	order: 1;
}

/* Max-width for quiz description */
.quiz-widget-description {
	max-width: var(--hcta-max-width-ch);
}

/* Hiding quiz title because it messes up heading order */
.quiz-widget-title {
	display: none;
}

/* Making quiz question number text accessible */
#quizzes-website-container .quiz-widget .quiz-widget-small-text {
	font-size: inherit;
	font-weight: 500;
}

/* Timeline */

.hcta-timeline {
	position: relative;
}

.hcta-timeline::before {
	content: '';
	width: 2px;
	height: 100%;
	background-color: var(--hcta-primary);
	display: flex;
    position: absolute;
    top: 9px;
    left: 0;
}

.hcta-timeline__block {
	padding-left: 20px;
}

.hcta-timeline__heading {
	position: relative;
}

.hcta-timeline__heading::before {
	content: '';
	width: 10px;
	height: 10px;
	background-color: var(--hcta-primary);
	border-radius: 100%;
	display: block;
    position: absolute;
    top: 6px;
    left: -24px;
}

.hcta-timeline__block-nested {
	padding-left: 20px;
}

.hcta-timeline__heading-nested {
	position: relative;
}

.hcta-timeline__heading-nested::before {
	content: '';
    width: 32px;
    height: 2px;
    background-color: var(--hcta-primary);
    display: block;
    position: absolute;
    top: 10px;
    left: -38px;
}

/* Website pages */

/* Navigation */

/* Header */
.header {
	background-color: var(--hcta-light-bg);
	font-size: 1.125rem;
	border-bottom: var(--hcta-border-width) solid var(--hcta-secondary);
}

.header__content--desktop {
	padding: 16px 0;
}

.header a,
.header a.link-list__link {
	color: var(--hcta-dark-text);
	font-weight: 500;
	text-decoration: none;
}

.header a,
.header .header__block--cta a,
.header a.link-list__link:hover {
	color: var(--hcta-primary);
	font-weight: 500;
	text-decoration: underline;
}

/* Logged in user avatar */
.user__avatar {
	width: 2.6rem;
	border: 1px solid var(--hcta-light-text);
}

/* Logged in user dropdown menu */
#block-1555988487706 .dropdown__item a {
	text-decoration: none;
}

/* Use the code below to style the active class (need to use JS to add .active first) */
/*#block-1555988487706 .dropdown__item a.active {
	color: var(--hcta-primary);
	text-decoration: underline;
}*/

/* Footer */
.footer.background-dark {
	background-color: var(--hcta-dark-bg);
}

.footer.background-dark #block-1602193175296 .link-list__link, .footer.background-dark #block-1719342394233 .link-list__link {
	color: var(--hcta-light-text);
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.3px;
}

.footer.background-dark #block-1602193175296 .link-list__link:hover, .footer.background-dark #block-1719342394233 .link-list__link:hover {
	color: var(--hcta-secondary);
	text-decoration: underline;
}
.footer {
	border-top: var(--hcta-border-width) solid var(--hcta-secondary);
}

/* Global website elements */

figure {
	margin: 0;
}

figcaption {
	text-align: center;
    font-weight: 500;
    margin-top: 8px;
	font-size: 1rem;
}

/* Figcaption block with bg colour */
figcaption.hcta-figcaption {
	background-color: var(--hcta-secondary);
    width: fit-content;
    padding: 4px 24px;
    margin: -24px auto 0 auto;
    position: relative;
}

.block.background-light {
	color: var(--hcta-dark-text);
}

.hcta-content-block {
	display: flex;
	flex-direction: column;
}

.hcta-flex-center {
	align-items: center;
}

/* For a block of content that forms the hero section on its own */
.hcta-hero-block {
	min-height: 65vh;
	justify-content: center;
}

.hcta-content-block h1, .hcta-content-block h2, .hcta-content-block h3, .hcta-content-block h4, .hcta-content-block h5, .hcta-content-block h6 {
	margin-bottom: 16px;
}

.hcta-content-block p {
	max-width: var(--hcta-max-width-ch);
}

.hcta-content-block--light {
	/* For blocks of content with light bg */
	background-color: var(--hcta-light-bg);
	color: var(--hcta-dark-text);
}

.hcta-content-block--light h1 {
	color: inherit;
}

/* For images with thin border accent */
.hcta-offset-border {
	padding: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--hcta-secondary);
}

/* Feature cards */

.block-type--feature p {
	font-size: 1.1rem;
}

/* 4-card row */
.block-type--feature.col-3 {
	padding: 24px;
	max-width: 400px;
}

/* Buttons wrapper (for more than 1 button) */
.hcta-buttons-wrapper {
	display: flex;
	flex-direction: row;
	gap: 8px;
	flex-wrap: wrap;
    justify-content: center;
}

/* Accessible social media icon links */
.hcta-social-media-link {
	max-width: 3rem; /* 48px (minimum accessible touch target size = 44px) */
}

.hcta-cta-block {
	background-color: var(--hcta-white);
	display: grid;
	grid-template-columns: 3fr 2fr;
}

.hcta-cta-block__text-wrapper {
	padding: clamp(1.5rem, 6.897vw + 0.121rem, 5rem);
}

.hcta-cta-block__img {
	object-fit: cover;
	height: 100%;
	overflow: hidden;
	clip-path: polygon(18% 0%, 100% 0, 100% 100%, 0% 100%);
}

/* Policy pages */
.hcta-policy h1 {
	margin-top: 0;
}

.hcta-policy p,
.hcta-policy li {
	color: var(--hcta-dark-text);
}

/* Course registration pages */

/* Post-purchase custom thank you page */
.hcta-post-purchase-thanks {
	margin: 0px auto;
	max-width: var(--hcta-max-width-ch);
	padding: var(--hcta-block-padding-md);
	background-color: var(--hcta-light-bg);
	color: var(--hcta-dark-text);
}

.hcta-post-purchase-thanks p {
	text-align: left;
	color: inherit;
}

.flash--success .flash-text {
	font-size: 1.175rem;
	color: var(--hcta-success-green);
}

/* Log In page */

/* Making alert accessible colour contrast */
.alert--danger, .parsley-errors-list {
	border-color: var(--hcta-error-red);
	color: var(--hcta-light-text);
	background-color: var(--hcta-error-red);
}

/* Course pages */

/* Healthcare Traveler Certification page */

/* Hero image */
#block-1718108062387_1 .image {
	max-width: 480px;
}

/* Are You Seeking section */
#block-1718129212883_1, #block-1718129212883_0 {
	padding: 0;
}

/* Announcements Page */

[kjb-settings-id="sections_1597945926220_settings_text_search_placeholder"] input::placeholder {
	color: var(--hcta-dark-text);
}

/* Blog */

/* Search placeholder colour */
.sidebar-search__form input::placeholder {
	color: var(--hcta-dark-text);
}